<app-nav></app-nav>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <button class="btn" (click)="followForum()">
        Seguir forum<i class="gg-check-o" style="margin-left: 10px"></i>
      </button>
      <button class="btn" (click)="removeUser()">
        Deixar de seguir<i class="gg-check-o" style="margin-left: 10px"></i>
      </button>
      <!-- <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item> -->
    </mat-list>
  </mat-drawer>
  <div class="container">
    <div class="container-tittle">
      <div class="row">
        <!-- <button class="btn btn-primary" (click)="addUser()">add user</button> -->
        <h5>
          {{ forum.forumName }}
        </h5>
      </div>
    </div>
    <div class="container-description">
      <div class="row">
        <h5>
          {{ forum.descriptionForum }}
        </h5>
      </div>
    </div>
    <div class="row">
      <!-- se for adm -->
    </div>
    <div *ngIf="forum.creator == user.userId">
      {{ forum.creator }} -- {{ user.userId }}
      <app-role></app-role>
    </div>
    <app-post></app-post>
    <app-cards></app-cards>
  </div>
</mat-drawer-container>
