mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  background-color: white;
  margin-bottom: 7%;
}

.btn{
  background: none;
  border: none;
}

.mat-mdc-card {
  position: relative;
  width: 62%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 31px -16px #00000069;
  -moz-box-shadow: 0px 0px 31px -16px #00000069;
  box-shadow: 0px 0px 31px -16px #00000069;
  margin-bottom: 7%;
  word-break: break-all;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

}

.mat-drawer {
  position: relative;
  z-index: 4;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translate3d(-100%, 0, 0);
  width: 15%;
  padding: 2%;
  margin-bottom: 5px;
}

.mdc-card__media {
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2.5%;
}

.borda{
  border-radius: 12px;
}

.center {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  columns: 2;
}

.mdc-card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  border-top: 1px solid ;
  border-bottom: 1px solid;
}

mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: white;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
