<div class="container">
  <div class="input-group mb-3">
    <h5 class="border-bottom">New Role</h5>
    <form class="p-1" [formGroup]="form">
      <div
        class="form-group"
        style="
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          height: 20%;
        "
      ></div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Adm" z="forum" formControlName="roleName"/>
      </div>
      <div class="form-group">
        <label>Permissoes</label>
        <div>
          <input
            type="checkbox"
            class="form-control"
            placeholder="Adm"
            z="forum"
          />
          <h6>Create new post</h6>
          <input
            type="checkbox"
            class="form-control"
            placeholder="Adm"
            z="forum"
          />
          <h6>Create new role</h6>
          <input
            type="checkbox"
            class="form-control"
            placeholder="Adm"
            z="forum"
          />
          <h6>Delet post</h6>
        </div>

      </div>
      <div
        class="form-group"
        style="
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          height: 20%;
        "
      >
        <button
          class="btn px-5"
          style="display: flex; justify-content: center"
          (click) = "addRole()"
        >
          Criar
        </button>
      </div>
    </form>
  </div>
</div>
