<div class="container">
  <div class="input-group mb-3">
    <h5 class="border-bottom">New Role</h5>
    <form class="p-1" [formGroup]="form">
      <div class="form-group" style="
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          height: 20%;
        "></div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Adm" formControlName="roleName" />
      </div>
      <label>Permissões</label>
      <div class="form checkbox">
        <label class="form-check-label" for="postAdd">Criar posts</label>
        <input (change)="onInputChange($event)" [(ngModel)]="addPost" type="checkbox" class="checkbox-round   "
          value="1" id="postAdd" />
      </div>

      <div class="form checkbox">
        <label class="form-check-label" for="deletePosts">Deletar posts</label>
        <input (change)="onInputChange($event)" [(ngModel)]="deletePost" type="checkbox"
          class="checkbox-round" value="2" id="deletePosts" />
      </div>

      <div class="form checkbox">
        <label class="form-check-label" for="edit">Editar posts</label>
        <input (change)="onInputChange($event)" [(ngModel)]="editPost" type="checkbox"
          class="checkbox-round" value="3" id="edit" />
      </div>

      <div class="form checkbox">
        <label class="form-check-label" for="manage">Gerenciar cargos</label>
        <input (change)="onInputChange($event)" [(ngModel)]="manageRole" type="checkbox"
          class="checkbox-round" value="4" id="manage" />
      </div>

      <div class="form checkbox">
        <label class="form-check-label" for="removeUser">Remover membros</label>
        <input (change)="onInputChange($event)" [(ngModel)]="dropUser" type="checkbox"
          class="checkbox-round" value="5" id="removeUser" />
      </div>

      <div class="form checkbox">
        <label class="form-check-label" for="removeForum">Remover forums</label>
        <input (change)="onInputChange($event)" [(ngModel)]="dropForum" type="checkbox"
        class="checkbox-round" value="6" id="removeForum" />
      </div>
      <div class="form-group" style="
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          height: 20%;
        ">
        <button class="btn px-5" style="display: flex; justify-content: center" (click)="addRole()">
          Criar
        </button>
      </div>
    </form>
  </div>
</div>