<div class="container">
  <div class="input-group mb-3">
    <h5 class="border-bottom">New Role</h5>
    <form class="p-1" [formGroup]="form">
      <div
        class="form-group"
        style="
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          height: 20%;
        "
      ></div>
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Adm"
          formControlName="roleName"
        />
      </div>
      <label>Permissoes</label>
      <div class="selectStyle">
        <div *ngFor="let p of permissions">
          <h6>{{ p.permissionName }}</h6>
          <input
            [value]="p.id"
            (change)="GetStats($event)"
            type="checkbox"
            class="form-control"
            formControlName="control"
          />
        </div>
        <div></div>
      </div>
      <div
        class="form-group"
        style="
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          height: 20%;
        "
      >
        <button
          class="btn px-5"
          style="display: flex; justify-content: center"
          (click)="addRole()"
        >
          Criar
        </button>
      </div>
    </form>
  </div>
</div>
