a:link {
    transition: all 0.5s;
    color: #223237;
    text-decoration: none;
}

a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.register:hover {
    transform: none !important;

}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

form {
    width: 100%;
}


.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: max-content;
    width: 43%;
    margin: 3% auto;
    padding: 2% 5%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 31px -16px #00000069;
    -moz-box-shadow: 0px 0px 31px -16px #00000069;
    box-shadow: 0px 0px 31px -16px #00000069;

}



hr {
    color: #223237;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.footerLogin {
    width: 90%;
    margin-bottom: 2%;
}

.colum {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}

a:link {
    transition: all 0.5s;
    color: #223237;
    text-decoration: none;
}

a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

button {
    width: 50%;
    height: 80%;
    overflow: hidden;
    margin: 1px 0;
    border-radius: 20px;
    background-color: #343a4019;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


button:hover {
    background-color: #343a4046;
}



.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
}


h1 {
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    margin: 2% 0 2% 0;
    color: #343a40;
    overflow: hidden;
}



a {
    display: flex;
    align-items: center;
}


.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}



.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.bg-light {
    background-color: #343a40 !important;
}




.btnCon {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 17%;
    justify-content: center;
}

input {
    border-radius: 20px;

}

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 18%;
}