<label for="">Password</label>
<div style="display: flex">
  <input
    class="form-control"
    placeholder="Enter password"
    [type]="hide ? 'password' : 'text'"
    [(ngModel)]="inputText"
    [formControl]="password"
    (change)="passChanged($event)"
    required
  />

  <button
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</div>

<mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
