@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.example-container{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}



.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title{
    color: #448379;
    font-family:'Raleway' 'sans-serif';
    font-weight: 500;
    margin: 2%;
    font-size: x-large;
    
  }