<!-- <p>Não possui conta? <a routerLink="newaccount">Crie uma agora mesmo!</a></p>

<p>
  Esqueceu sua senha? <a href="{{ '/recover/' + email }}">Recupere agora!</a>
</p> -->

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title col-12">Login</div>
      <div class="form-card">
        <form action="/" method="get" class="row g-3">
          <div class="col-12">
            <input type="text" class="form-control" [(ngModel)]="email" placeholder="E-mail">
          </div>
          <div class="col-12">
            <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" required>
          </div>

          <div class="col-12">
            <button type="submit" mat-stroked-button(click)="login()">Logar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
  