<mat-toolbar>
  <span style="text-transform: uppercase; font-family: 'Raleway', sans-serif"
    >Bem Vindo ""</span
  >
  <!-- <span class="example-spacer"></span> -->
  <span style="text-transform: uppercase; font-family: 'Raleway', sans-serif"
    >My App</span
  >
  <!-- <span class="example-spacer"></span> -->
  <form class="d-flex" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn " type="submit"><mat-icon>search</mat-icon></button>
  </form>
  <!-- <span class="example-spacer"></span> -->
  <a href="" color="4B9186"><mat-icon>home</mat-icon></a>
</mat-toolbar>
<hr style="color: #4b9186; margin: 0; border-top: 3px solid  #4b9186;">
