@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

a {
  display: flex;
  align-items: center;
}


.navbar-light .navbar-brand {
  color: rgb(255 255 255 / 90%);
}



.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.bg-light {
  background-color: #343a40 !important;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-right: 18%;
}