<label for="">Password</label>
<div style="display: flex;"><input class="form-control" placeholder="Enter password" [type]="hide ? 'password' : 'text'"
    [(ngModel)]="inputText" [formControl]="password" required />

  <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</div>

<div *ngIf="password.errors?.['required']"> Password required </div>

<div *ngIf="password.errors?.['pattern']"> The password needs to have at least 8 characters, <br>
  including one lowercase letter, <br>
  one uppercase letter, <br>
  one number, <br>
  and one special character.
</div>