<!-- <div>
  <p>
    <label>Senha</label>
    <br *ngIf="breakLineOnInput" />
    <input type="{{ inputType }}" />
    <input [type]="inputType" />

    <input
      type="{{ inputType }}"
      [style]="inputStyle"
      (focusout)="passwordFocusout()"
      [(ngModel)]="inputText"
      (keydown)="passwordChanged()"
      (change)="passwordChanged()"
      (click)="passwordClick()"
    />
  </p>

  <p *ngIf="canSeePassword">
    <input
      type="checkbox"
      [(ngModel)]="seePassword"
      (change)="checkBoxToogle($event)"
    />
    <label>Mostrar Senha</label>
  </p>
</div> -->
