<!-- <mat-drawer-content class="center" style="background-color: white; margin-left: 0;"> -->
  <mat-card class="example-card">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img class="borda" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" >
      <mat-card-content style="margin-bottom: 2%;">
          <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
          </p>
      </mat-card-content>
      <mat-card-actions>
          <!-- <button (click)="likeButtonClick()" [ngClass]="chooseclassl ? 'like-button' : 'liked'"> Like | {{numberOfLikes}} </button>
<button (click)="dislikeButtonClick()" [ngClass]="chooseclassd ? 'dislike-button' : 'disliked'"> Dislike | {{numberOfDislike}} </button> -->
          <button class="btn"><i class="gg-chevron-up-o"></i></button>
          <button class="btn"><i class="gg-chevron-down-o"></i></button>
          <button class="btn"><i class="gg-feed"></i></button>
      </mat-card-actions>
  </mat-card>
<!-- </mat-drawer-content> -->
